
/** Footer **/
.site-footer {
    padding: calc($separacion /2 );
    background-color: $grisOscuro;
    margin-bottom: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    text-align: center;

    @include tablet {
        .contenedor-footer {
            display: flex;
            justify-content: space-between;
        }
    }
}

.navegacion {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.site-footer nav {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.copyright {
    margin: 0;
    color: $blanco;

    a {
        color: #825ae0;
        text-decoration:underline;
    }
}